<div class="section full-height over-hide px-4 px-sm-0">
    <div class="container">
                <div class="section mx-auto text-center slider-height-padding">
                      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                      <label for="slide-1"></label>
                      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                      <label for="slider-2"></label>
                      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                      <label for="slider-3"></label>
                      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                      <label for="slider-4"></label>
                      <input class="checkbox five" type="radio" name="slider" id="slider-5"/>
                      <label for="slider-5"></label>
                    <ul>
                        <li>
                            <span>1</span>
                        </li>
                        <li>
                            <span>2</span>
                        </li>
                        <li>
                            <span>3</span>
                        </li>
                        <li>
                            <span>4</span>
                        </li>
                        <li>
                            <span>5</span>
                        </li>
                    </ul>
                </div>
    </div>
</div>