<button (click)="onGoBack()" class="btn btn-primary btn-lg mt-3">Back</button>

<div class="grid" *ngIf="character$ | async as character">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <div class="img-card">
        <img
          [src]="character.image"
          [alt]="character.name"
          class="car-img-top"
        />
      </div>
      <h2>{{ character.name }}</h2>
      <h4 class="text-muted">{{ character.gender }}</h4>
      <small class="text-muted">{{ character.created | date }}</small>
    </div>
  </div>

  <div class="card border-success mb-3">
    <div class="card-header">{{ character.name }} Details</div>
    <div class="card-body">
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home">{{ character.name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#profile">more</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active show" id="home">
          <li><h3>Species: {{ character.species }}</h3></li>
          <li><h3>Status: {{ character.status }}</h3></li>
          <li><h3>Type: {{ character.type }}</h3></li>
          <li><h3>Gender: {{ character.gender }}</h3></li>
          <li><h3>Location: {{ character.location.name }}</h3></li>
          <li><h3>Created: {{ character.created | date }}</h3></li>
        </div>

        <div class="tab-pane fade" id="profile">
          <li><h3>Origin: {{ character.origin.name }}</h3></li>
          <li><h3>ID in API: {{ character.id }}</h3></li>
        </div>
      </div>
    </div>
  </div>
</div>
